<!DOCTYPE html>
<html>
<head>
    <title>Estimated Price of Mobile Phone</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
     <h1>Estimated Price of Mobile Phone</h1>
    <form method="POST" action="/predict">
        <label for="Storage">Storage:</label>
        <select name="Storage" required>
            <option value=32>32</option>
            <option value=64>64</option>
            <option value=128>128</option>
            <option value=256>256</option>
            <option value=512>512</option>
        </select><br><br>

        <label for="RAM">RAM:</label>
        <select name="RAM" required>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=8>8</option>
            <option value=12>12</option>
            <option value=16>16</option>
        </select><br><br>


        <label for="Screen">Screen Size (inches):</label>
        <input type="number" step="0.01" name="Screen" required><br>
        <span class="instruction">Enter the Screen Size between 4.5 to 6.82 inches.</span><br><br>

        <label for="Battery">Battery Capacity (mAh):</label>
        <input type="number" step="0.01" name="Battery" required><br>
        <span class="instruction">Enter the Battery Capacity between 1821 to 7000 mah.</span><br><br>

        <label for="CamPixels">Camera (MP):</label>
        <input type="number" step="0.01" name="CamPixels" required><br>
        <span class="instruction">Enter the sum of Camera megapixels between 8 to 168 megapixels.</span><br><br>

        <label for="codeBrand">Brand:</label>
        <select name="codeBrand" required>
            <option value=0>Apple</option>
            <option value=1>Huawei</option>
            <option value=2>Motorola</option>
            <option value=3>Nokia</option>
            <option value=4>OnePlus</option>
            <option value=5>Oppo</option>
            <option value=6>Realme</option>
            <option value=7>Samsung</option>
            <option value=8>Vivo</option>
            <option value=9>Xiaomi</option>
        </select><br><br>
    

        <input type="submit" value="Estimate">
    </form>
    {% if prediction %}
    <div class="prediction">
        <h2>Expected Price ($):</h2>
        <p>{{ prediction }}</p>
    </div>
    {% endif %}
</body>
</html>
